.container {
    max-width: 90%;
     display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em 0;
    border: 1px solid #333;
    align-items: center;
}


.left{
    display: flex;
    align-items: center;
}